    html {
        background-color: #e4e9fd;
        background-image: linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
        min-height: 1000px;
        font-family: "helvetica neue";
        text-align: center;
    }
    .box{
    max-width: 400px;
    margin: 50px auto;
    background: #a683e3;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    }
    .card{
        background-color: #e4e9fd;
        margin: auto;
        width: 40%;
        border-radius: 5px;
        display: block;
    }
    .taskItem{
        background-color: #e4e9fd;
        border-radius: 5px;
        border: 1px solid #1d1826;
        padding: 10px;
    }
    .btn{
        background-color: #a683e3;
        color: white;
        font-weight: 600;
        border-radius: 50%;
        border: 0px solid #a683e3;
        box-shadow: none;
        padding: 10px 15px;
    }
    .card{
        max-width: 500px;
        display: flex;
        border: 1px solid #605771;
    }
    a{
        text-decoration: none;
        font-weight: bold;
        color: #a683e3;
        margin-left: 10px;
    }

    a:visited{
        color:#a683e3;
    }

    img{
        height: 1rem;   
    }

    header{
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .cbox:checked{
        text-decoration: line-through;
      }
    /* p{text-decoration: line-through;}   */